{% extends 'estudiantes/base.html' %}

{% block content %}

    <a href="{% url 'alumnx_nuevo' %}" class="btn btn-primary">Alumnx nuevx</a>
    <a href="{% url 'lista_calif1erpar' %}" class="btn btn-success">Calificaciones primer parcial</a>
    <a href="{% url 'lista_calif2dopar' %}" class="btn btn-warning">Calificaciones segundo parcial</a>
    <a href="{% url 'lista_calif_final' %}" class="btn btn-info">Calificaciones parcial final</a>
    <a href="{% url 'lista_autobiografia' %}" class="btn btn-primary">Autobiografía</a>

    <table class="content-table">
      <tr>
        <th>Nombre</th>
        <th>Número de cuenta</th>
        <th>Correo</th>
        <th>Universidad</th>
        <th>Asignatura</th>
        <th>Ciclo</th>
      </tr>
      {% for alumnx in alumnxs %}
      <tr>
            <td>{{ alumnx.nombre|linebreaksbr }}</td>
            <td>{{ alumnx.num_cuenta|linebreaksbr }}</td>
            <td>{{ alumnx.email|linebreaksbr }}</td>
            <td>{{ alumnx.universidad|linebreaksbr }}</td>
            <td>{{ alumnx.asignatura|linebreaksbr }}</td>
            <td>{{ alumnx.ciclo|linebreaksbr }}</td>
            <td><a class="btn btn-default" href="{% url 'alumnx_edit' pk=alumnx.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href="{% url 'eliminar_alumnx' pk=alumnx.pk %}" class = "btn btn-danger">Borrar</a></td>

            
      </tr>
      {% endfor %}
    </table>

{% endblock %}
