{% extends 'estudiantes/base.html' %}

{% block content %}

    <a href="{% url 'alumnx_nuevo' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
    {% for alumnx in alumnxs %}
        <div class="alumnxs">
          <table>
            <p>{{ alumnx.nombre|linebreaksbr}}</p>
            <p>{{ alumnx.num_cuenta|linebreaksbr }}</p>
            <p>{{ alumnx.email|linebreaksbr }}</p>
            <p>{{ alumnx.universidad|linebreaksbr }}</p>
            <p>{{ alumnx.asignatura|linebreaksbr }}</p>
            <p>{{ alumnx.ciclo|linebreaksbr }}</p>
            <a class="btn btn-default" href="{% url 'alumnx_edit' pk=alumnx.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
          </table>
        </div>
    {% endfor %}
{% endblock %}
